{{!-- trip template --}}

{{!-- <h1>{{model.title}}</h1>
<h1>{{model.location}}</h1>
<h1>{{model.content}}</h1> --}}
{{trip-details trip=model
               routeUpdateTrip='updateTrip'}}
{{!-- {{model.title}} --}}
