{{!-- sign-up-form template --}}
<div class='sign-in-form'>
  <div class='container'>
    <div class='row form'>
      <h1>Sign Up</h1>
      {{email-input email=credentials.email}}
      {{password-input password=credentials.password}}
      {{password-confirmation-input password=credentials.passwordConfirmation}}

      <button type="submit" class="btn btn-primary" {{action "submit"}}>
        Sign Up
      </button>

      <button class="btn btn-default" {{action "reset"}}>
        Cancel
      </button>
    </div>
  </div>
</div>
