<div class="trip-form">
  <h1>Create a New Camping Trip</h1>
  {{input placeholder='Title' value=form.title}}
  {{input placeholder='Location' value=form.location}}
  {{jqui-datepicker placeholder='Arrival' value=arrival yearRange="2013:2015"}}
  {{jqui-datepicker placeholder='Departure' value=departure yearRange="2013:2015"}}
  {{textarea placeholder='Description' value=form.description}}

  <button class='btn btn-warning' {{action 'createTrip'}}>Create a trip</button>
</div>
