<div class="trip-form">
  <h1>Create a New Camping Trip</h1>
  {{input placeholder='Title' value=form.title}}
  {{input placeholder='Location' value=form.location}}
  {{input placeholder='Arrival' value=form.arrival}}
  {{input placeholder='Departure' value=form.departure}}
  {{textarea placeholder='Description' value=form.description}}

  <button {{action 'createTrip'}}>Create a trip</button>
</div>
